@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Permanent+Marker&family=Roboto+Slab:wght@300;400;500;600;900&family=Source+Code+Pro:wght@400;500;600;700&display=swap');

* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Permanent Marker', cursive;
}

.d-flex {
  display: flex;
}

.d-center {
  align-items: center;
  justify-content: center;
}

.s-between {
  justify-content: space-between;
}

.a-center {
  align-items: center;
}

.home-page::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url("img/homeimage.jpg");
  background-position: 0 10%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.home-page {
  display: grid;
  grid: 1fr 1fr / 1fr 1fr;
}

.home-link {
  width: calc(100vw / 2);
  height: calc(100vh / 2);
  text-decoration: none;
  font-size: 3rem;
  color: #000
}

.home-link:hover {
  box-shadow: -1px 1px 10px 5px #000;
  text-shadow: 2px 2px 9px #000;
}

.character-container {
  padding: 10px;
  margin: 0 20px;
}

.character-header {
  height: 40vh;
  text-align: left;
  padding-top: 100px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.character-header::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40vh;
  opacity: 0.3;
  background-image: url("img/charactersimage.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.character-item {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  border-radius: 5px;
  list-style: none;
}

.character-item:hover {
  box-shadow: 0 10px 16px 20px rgba(0,0,0,0.2);
}

.character-image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.list-of-characters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.filter-status {
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
}